################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/WebGrease.1.5.2
/packages/Respond.1.2.0
/packages/Owin.1.0
/packages/Newtonsoft.Json.6.0.4
/packages/Modernizr.2.6.2
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.Owin.Security.Twitter.3.0.0
/packages/Microsoft.Owin.Security.OAuth.3.0.0
/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.0
/packages/Microsoft.Owin.Security.Google.3.0.0
/packages/Microsoft.Owin.Security.Facebook.3.0.0
/packages/Microsoft.Owin.Security.Cookies.3.0.0
/packages/Microsoft.Owin.Security.3.0.0
/packages/Microsoft.Owin.Security.2.1.0
/packages/Microsoft.Owin.Host.SystemWeb.3.0.0
/packages/Microsoft.Owin.Host.SystemWeb.2.1.0
/packages/Microsoft.Owin.Cors.3.0.
/packages/Microsoft.Owin.3.0.1
/packages/Microsoft.Owin.3.0.0
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.2
/packages/Microsoft.AspNet.WebPages.3.2.3
/packages/Microsoft.AspNet.WebPages.3.2.2
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.2
/packages/Microsoft.AspNet.WebApi.Owin.5.2.2
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2
/packages/Microsoft.AspNet.WebApi.Cors.5.2.3
/packages/Microsoft.AspNet.WebApi.Core.5.2.3
/packages/Microsoft.AspNet.WebApi.Client.5.2.3
/packages/Microsoft.AspNet.WebApi.5.2.2
/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/packages/Microsoft.AspNet.SignalR.SystemWeb.2.2.0
/packages/Microsoft.AspNet.SignalR.JS.2.2.0
/packages/Microsoft.AspNet.SignalR.Core.2.2.0
/packages/Microsoft.AspNet.SignalR.2.2.0
/packages/Microsoft.AspNet.Razor.3.2.3
/packages/Microsoft.AspNet.Razor.3.2.2
/packages/Microsoft.AspNet.Mvc.5.2.3
/packages/Microsoft.AspNet.Mvc.5.2.2
/packages/Microsoft.AspNet.Identity.Owin.2.1.0
/packages/Microsoft.AspNet.Identity.EntityFramework.2.1.0
/packages/Microsoft.AspNet.Identity.Core.2.1.0
/packages/Microsoft.AspNet.Cors.5.2.3
/packages/Microsoft.AspNet.Cors.5.0.0
/packages/jQuery.Validation.1.11.1
/packages/jQuery.1.9.1
/packages/jQuery.1.10.2
/packages/EntityFramework.6.1.3
/packages/EntityFramework.6.1.1
/packages/bootstrap.3.3.6
/packages/bootstrap.3.0.0
/packages/AutoMapper.4.1.1
/packages/Autofac.WebApi2.3.4.0
/packages/Autofac.WebApi.3.1.0
/packages/Autofac.3.5.0
/packages/Antlr.3.4.1.9004
/packages/angularjs.1.5.0
*.suo
/Awesome.Entities/bin*
/Awesome.Entities/obj*
/Awesome.Web/bin*
/Awesome.Web/obj*
/Awesome.Web.Ui/bin/*
/Awesome.Web.Ui/obj/*
/Awesome.Web.Api/bin/*
/Awesome.Web.Api/obj/*
/Awesome.Web.Api/Awesome.Web
/Awesome.Web.WebUi/bin/*
/Awesome.Web.WebUi/obj/*
/packages*
/Awesome.Web.Api/bin/*.pdb
/Awesome.Web.Api/bin/*.dll
*.csproj.user