@charset "utf-8";

/* ----------------------------------

Name:style.css
Version:1.0.0

----------------------------------

Table of contents

    01.  Site Overrides
*/

/* ===================================
    Site Overrides
====================================== */
.modal {
	display: block;
}

.modal-body:before,
.modal-body:after {
	display: table;
	content: " ";
}

.modal-header:before,
.modal-header:after {
	display: table;
	content: " ";
}

.slider-text {
	top: 250px;
}

.paypal-img-button {
	margin: 0;
	padding: 0;
	width: 300px;
}

.paypal-highligh-button {
	/*border: 2px solid #000;*/
	display: inline-block;
	/*padding: 0px 20px 0px;*/
	font-size: 12px;
	color: #000;
	background-color: transparent;
}



@media (max-width: 640px) {
	.notify-me-text {
		display: block;
	}

	.slider-text {
		top: 80px;
	}

	.book-splash-background {
		background-image: url('../../../images/custom/book-splash-325x386.png');
	}

	.carousel-inner {
		overflow: scroll;
	}
}
@media (min-width: 1064px) {
	.slider-text-pull-right {
		float: right !important;
	}

	.book-splash-background {
		background-image: url('../../../images/custom/book-splash-amazon-1920x1080.png');
	}
}