<!-- comment form -->
<div id="addcomment" class="blog-comment-form-main">
	<h5 class="widget-title margin-five no-margin-top">Add a comment</h5>
	<div class="blog-comment-form">
		<form>
			<!-- input -->
			<input type="text" name="name" placeholder="Name" ng-model="newComment.userName">
			<!-- end input -->
			<!-- input  -->
			<input type="text" name="email" placeholder="Email"  ng-model="newComment.email">
			<!-- end input -->
			<!-- input  -->
			<input type="text" name="website" placeholder="Website"  ng-model="newComment.website">
			<!-- end input -->
			<!-- textarea  -->
			<textarea name="comment" placeholder="Comment"  ng-model="newComment.Content"></textarea>
			<!-- end textarea  -->
			<!-- required  -->
			<span class="required">*Please complete all fields correctly</span>
			<!-- end required  -->
			<!-- button  -->
			<input type="button" name="send message" value="send message" class="highlight-button-dark btn btn-small no-margin-bottom" ng-click="addNewComment(newComment)">
			<!-- end button  -->
		</form>
	</div>
</div>
<!-- end comment form -->