<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Awesome.Web">
<head>
	<title></title>
	<script src="../angular.js"></script>
	<script src="lib/app.ng.js"></script>
	<script src="controllers/mainApp.ng.js"></script>
	<script src="../angular-ui-router.min.js"></script>

</head>
<body ng-controller="MainCtrl as main">
	{{message}}
	<div ui-view></div>
</body>
</html>
