<section class="wow fadeIn border-top">
	<div class="container">
		<div class="row margin-ten no-margin-top">
			<!-- heading -->
			<div class="col-md-8 col-sm-8 dividers-header center-col text-center double-line">
				<div class="subheader bg-white">
					<i class="icon-hotairballoon large-icon"></i>
					<h1>Thank you!</h1>
					<h6>...and you are awesome</h6>
				</div>
			</div>
			<div class="col-md-5 col-sm-8 center-col text-center text-med margin-three no-margin-bottom"><p>You're copy is on it's way. I'll send it to the email-address you've provided within the next 24 hours.</p></div>
			<div class="col-md-5 col-sm-8 center-col text-center text-med margin-three no-margin-bottom"><p>...on another note, this gives me the impression that you're really serious about moving abroad. Wherever you're goal is, no matter how long it takes, I do hope you make it happen for yourself and the people you're aspiring it for. We share the same passion and I would love to hear from you. Please feel free to reach me at stephen.cate@ajourneytoawesome.com. </p></div>
			<!-- end heading -->
		</div>
	</div>
</section>
<footer>
	<div class="bg-white footer-top">
		<div class="container">
			<div class="row margin-four">
				<!-- phone -->
				<div class="col-md-4 col-sm-4 text-center"><i class="icon-phone small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">+61-XXX-XXX-XXX</h6></div>
				<!-- end phone -->
				<!-- address -->
				<div class="col-md-4 col-sm-4 text-center"><i class="icon-map-pin small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">Melbourne, Australia</h6></div>
				<!-- end address -->
				<!-- email -->
				<div class="col-md-4 col-sm-4 text-center"><i class="icon-envelope small-icon black-text"></i><h6 class="margin-two no-margin-bottom"><a href="mailto:stephen.cate@ajourneytoawesome.com" class="black-text">stephen.cate@ajourneytoawesome.com</a></h6></div>
				<!-- end email -->
			</div>
		</div>
	</div>
	<div class="container footer-middle">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 footer-link1">
				<!-- headline -->
				<h5>About The Site</h5>
				<!-- end headline -->
				<!-- text -->
				<p class="footer-text">A Journey To Awesome&trade; is my blog for any topic around Migration, Overseas Work, and life abroad, in general. <br />The contents here are mostly my opinions, thoughts and writing. They may not be factual or applicable to everyone and should be understood as a matter of hearing one's opinion only. <br /> I respect copyright and make a conscious effort to attributing back if I make use of other's people content. So please feel free to share and link back to this site. <br /> I would look to hear from you! Please leave a comment or send me a note <a href="mailto:stephen.cate@ajourneytoawesome.com" class="black-text">stephen.cate@ajourneytoawesome.com</a><br />To your success,<br />Stephen</p>
				<!-- end text -->
			</div>
		</div>
		<div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div>
		<div class="row margin-four no-margin-bottom">
			<div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
				<!-- link -->
				<ul class="list-inline footer-link text-uppercase">
					<li>About</li>
					<li><a ui-sref="posts.detail">Home</a></li>
					<li><a ui-sref="books">Book</a></li>
				</ul>
				<!-- end link -->
			</div>
			<div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">
				<!-- social media link -->
				<!--<a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
				<a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
				<a target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
				<a target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
				<a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
				<a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>-->
				<!-- end social media link -->
			</div>
		</div>
	</div>
	<div class="container-fluid bg-dark-gray footer-bottom">
		<div class="container">
			<div class="row margin-three">
				<!-- copyright -->
				<div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
					&copy;2016 A Journey To Awesome is powered with HTML5 & Bootstrap, AngularJS, .Net technologies amongst other things... and is programmed by Stephen Cate
				</div>
				<!-- end copyright -->
				<!-- logo -->
				<div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
					<a ui-sref="post.details"><img src="images/custom/main-logo-300x102-gray.png" alt="" /></a>
				</div>
				<!-- end logo -->
			</div>
		</div>
	</div>
	<!-- scroll to top -->
	<a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
	<!-- scroll to top End... -->
</footer>
