<div class="modal-header">
	<span class="slider-subtitle5 black-text no-margin-bottom">I've sent your free copy!</span>
</div>
<div class="modal-body">
	<p class="margin-four">Check back again and please feel free to reach me via email at stephen.cate@ajourneytoawesome.com. <br/><br /> To your success, <br/>Stephen</p>
</div>
	<p class="margin-ten"><mark class="label-success white-text">(Please check your inbox and spam folders. If you didn't receive it, just shoot me an email at stephen.cate@ajourneytoawesome.com)</mark></p>
<div class="modal-footer">
	<button class="highlight-button btn btn-very-small button popup-modal-dismiss no-margin" ng-click="ok()">Dismiss</button>
</div>
