<section class="wow fadeIn">
	<div class="container">
		<div class="row">
			<!-- content section -->
			<div ui-view>
			</div>
			<!-- end content  -->
			<!-- sidebar  -->
			<div class="col-md-3 col-sm-4 col-md-offset-1 sidebar xs-margin-top-ten">
				<!-- widget  -->
				<div class="widget">
					<a class="fa fa-search close-search search-button" ui-sref="posts.search({search : searchFilter})"></a>
					<input type="text" placeholder="Search..." class="search-input" name="search" ng-model="searchFilter">
				</div>
				<!-- end widget  -->
				<!-- widget  -->
				<div class="widget">
					<h5 class="widget-title font-alt">Other posts</h5>
					<div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
					<div class="widget-body">
						<ul class="widget-posts">
							<li class="clearfix" ng-repeat="post in posts track by post.postId ">
								<a href="blog-single-right-sidebar.html"><img src="{{post.postAvatarUrl}}" alt="" /></a>
								<div class="widget-posts-details"><a ui-sref="posts.detail({postId: post.postId})"><div ng-bind-html="post.titleText"></div></a> {{post.date}} | {{post.tags | splitToList}}</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- end widget  -->
				<!-- widget  -->
				<div class="widget">
					<h5 class="widget-title font-alt">Tags</h5>
					<div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
					<div class="widget-body tags">
						<a ng-repeat="tag in tags track by tag.tagId" ui-sref="posts.tags({tagId: tag.tagId})">{{tag.name}}</a>
					</div>
				</div>
				<!-- end widget  -->
				<!-- widget  -->
				<div class="widget">
					<h5 class="widget-title font-alt">Recent Comments</h5>
					<div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
					<div class="widget-body">
						<ul class="widget-posts">
							<li class="clearfix" ng-repeat="comment in recentComments">
								<div class="widget-posts-details"><a ui-sref="posts.detail({postId: comment.postId})">{{comment.title}}</a> {{comment.userName}} | {{comment.date}}</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- end widget  -->
				<!-- widget  -->
				<div class="widget">
					<h5 class="widget-title font-alt">Archive</h5>
					<div class="thin-separator-line bg-dark-gray no-margin-lr"></div>
					<div class="widget-body">
						<ul class="category-list">
							<li><a href="blog-masonry-3columns.html">December 2014<span>48</span></a></li>
							<li><a href="blog-masonry-3columns.html">January 2015<span>25</span></a></li>
							<li><a href="blog-masonry-3columns.html">February 2015<span>32</span></a></li>
							<li><a href="blog-masonry-3columns.html">March 2015<span>38</span></a></li>
							<li><a href="blog-masonry-3columns.html">April 2015<span>40</span></a></li>
						</ul>
					</div>
				</div>
				<!-- end widget  -->
			</div>
			<!-- end sidebar  -->
		</div>
	</div>
</section>
	<!-- footer -->
<footer>
	<div class="bg-white footer-top">
		<div class="container">
			<div class="row margin-four">
				<!-- phone -->
				<div class="col-md-4 col-sm-4 text-center"><i class="icon-phone small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">123-456-7890</h6></div>
				<!-- end phone -->
				<!-- address -->
				<div class="col-md-4 col-sm-4 text-center"><i class="icon-map-pin small-icon black-text"></i><h6 class="black-text margin-two no-margin-bottom">Victoria, United States</h6></div>
				<!-- end address -->
				<!-- email -->
				<div class="col-md-4 col-sm-4 text-center"><i class="icon-envelope small-icon black-text"></i><h6 class="margin-two no-margin-bottom"><a href="mailto:no-reply@domain.com" class="black-text">no-reply@domain.com</a></h6></div>
				<!-- end email -->
			</div>
		</div>
	</div>
	<div class="container footer-middle">
		<div class="row">
			<div class="col-md-3 col-sm-3 footer-link1 xs-display-none">
				<!-- headline -->
				<h5>About Us</h5>
				<!-- end headline -->
				<!-- text -->
				<p class="footer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<!-- end text -->
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4 footer-link2 col-md-offset-3">
				<!-- headline -->
				<h5>Company</h5>
				<!-- end headline -->
				<!-- link -->
				<ul>
					<li><a href="about-us.html">About Company</a></li>
					<li><a href="about-us.html">What We Do</a></li>
					<li><a href="about-us.html">What We Think</a></li>
					<li><a href="careers.html">Careers</a></li>
				</ul>
				<!-- end link -->
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4  footer-link3">
				<!-- headline -->
				<h5>Services</h5>
				<!-- end headline -->
				<!-- link -->
				<ul>
					<li><a href="services.html">Web Development</a></li>
					<li><a href="services.html">Graphic Design</a></li>
					<li><a href="services.html">Copywriting</a></li>
					<li><a href="services.html">Online Marketing</a></li>
				</ul>
				<!-- end link -->
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4  footer-link4">
				<!-- headline -->
				<h5>Introduction</h5>
				<!-- end headline -->
				<!-- link -->
				<ul>
					<li><a href="team-members.html">Team Members</a></li>
					<li><a href="testimonials.html">Testimonials</a></li>
					<li><a href="our-clients.html">Our Clients</a></li>
					<li><a href="careers.html">Careers With Us</a></li>
				</ul>
				<!-- end link -->
			</div>
		</div>
		<div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div>
		<div class="row margin-four no-margin-bottom">
			<div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
				<!-- link -->
				<ul class="list-inline footer-link text-uppercase">
					<li><a href="about-us.html">About</a></li>
					<li><a href="blog-masonry-3columns.html">Blog</a></li>
					<li><a href="careers.html">Careers</a></li>
					<li><a href="testimonials.html">Testimonials</a></li>
					<li><a href="contact-us.html">Contact</a></li>
				</ul>
				<!-- end link -->
			</div>
			<div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">
				<!-- social media link -->
				<a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
				<a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
				<a target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
				<a target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
				<a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
				<a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
				<!-- end social media link -->
			</div>
		</div>
	</div>
	<div class="container-fluid bg-dark-gray footer-bottom">
		<div class="container">
			<div class="row margin-three">
				<!-- copyright -->
				<div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
					&copy; 2015 H-Code is proudly powered by ThemeZaa.
				</div>
				<!-- end copyright -->
				<!-- logo -->
				<div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
					<a href="index.html"><img src="images/logo-light-gray.png" alt="" /></a>
				</div>
				<!-- end logo -->
			</div>
		</div>
	</div>
	<!-- scroll to top -->
	<a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
	<!-- scroll to top End... -->
</footer>