<!-- content  -->
<div class="col-md-8 col-sm-8" ng-if="posts.length == 0">
	<h4 class='blog-details-headline text-black'>There were no posts that matches the search. Please try again or clear the search box to list all posts.</h4>
</div>
<div class="col-md-8 col-sm-8" ng-if="posts.length > 0" ng-repeat="post in posts track by post.postId" >
	<!-- post title  -->
	<a ui-sref="posts.detail({postId: post.postId})"><div ng-bind-html="post.title"></div></a>
	<!-- end post title  -->
	<!-- post date and categories  -->
	<div ng-bind-html="post.subTitle"></div>
	<!-- end date and categories   -->
	<div ng-bing-html="post.subContent"></div>
</div>
<!-- end content  -->