 <!-- modal popup -->
<div class="modal-header">
	<span class="slider-subtitle5 black-text no-margin-bottom">Your FREE BOOK EXCERPT!!!</span>
</div>
<div class="modal-body">
		<p class="text-extra-large text-extra-large-normal xs-no-margin-right">
			<h4>Hi there,</h4>
			<br /><span class="first-letter first-letter-block-round">D</span>eciding to go abroad (or not) is one of the many puzzles all of us had to contend with, specially at the start. With so many factors in play, risks to consider, and loved one to leave behind, how do you make that decision without regrets? What does it really take to get there?
			<br />I have a handful of suggestions and I'd like to share it with you. So I'm giving away a <strong>FREE</strong> excerpt of my first book...
			<br /><h1>Making the Big Move</h1><h3>How to make the decision to move abroad</h3>
			<br />Just hit <strong>Subscribe and Get a Copy</strong> so I can send it and keep you updated with the latest and greatest from <h2>A Journey To Awesome&trade;</h2>
		</p>
</div>
<div class="modal-footer">
	<a class="highlight-button btn btn-medium button popup-modal-dismiss no-margin" ui-sref="books" ng-click="$close()">Subscribe and get a Copy</a>
	<button class="highlight-button btn btn-very-small button popup-modal-dismiss no-margin" ng-click="$close()">Maybe Next Time</button>
</div>
<!-- end modal popup -->