<!-- content  -->
<div class="col-md-8 col-sm-8">
	<!-- Book banner -->
	<div class='blog-image margin-eight'><a ui-sref="books"><img src='/images/custom/book-splash-download-3-buttons-1920x207.png' alt='' /></a></div>
	<!-- This is break is to push the content a bit in mobile view -->
	<br/>  
	<!-- post title  -->
	<div ng-bind-html="currentPost.Title"></div>
	<!-- end post title  -->
	<!-- post date and categories  -->
	<div ng-bind-html="currentPost.SubTitle"></div>
	<!-- end date and categories   -->
	<div ng-bind-html="currentPost.PreContent"></div>

	<div ng-bind-html="currentPost.SubContent"></div>
	
	<!-- post details text -->
	<div class="blog-details-text">
		<div ng-bind-html="currentPost.Content"></div>
		<div class="blog-date no-padding-top margin-eight no-margin-bottom">
			<!-- post tags -->
			<h5 class="widget-title margin-one no-margin-top">Tags</h5>

			<a ng-repeat="tag in currentPost.Tags" href="blog-masonry-3columns.html">{{tag.Name + ", "}}</a>
		</div>
		<!-- end post tags -->
	</div>
	<!-- end post details text -->
	<!-- Book banner -->
	<div class='blog-image margin-eight'><a ui-sref="books"><img src='/images/custom/book-splash-download-3-buttons-1920x207.png' alt='' /></a></div>
	<!-- social icon -->
	<div class="text-center border-bottom margin-ten padding-four no-margin-top">
		<div class="fb-share-button" data-href="http://ajourneytoawesome.com/posts/" data-layout="button" data-size="large" data-mobile-iframe="true">
			<a class="fb-xfbml-parse-ignore btn social-icon social-icon-large button"
			   target="_blank"
			   href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fajourneytoawesome.com%2Fposts%2F&amp;src=sdkpreparse"><i class="fa fa-facebook"></i></a>
			<a class="btn social-icon social-icon-large button twitter-share-button"
			   href="https://twitter.com/intent/tweet?text=A%20Journey%20To%20Awesome!!!&url=http%3A%2F%2Fajourneytoawesome.com%2Fposts%2F"
			   data-size="large">
				<i class="fa fa-twitter"></i>
			</a>
		</div>
	</div>
	<!-- end social icon -->
	<!-- about author -->
	<div class="text-center no-margin-bottom about-author text-left bg-gray">
		<div class="blog-comment text-left clearfix no-margin">
			<!-- author image -->
			<a class="comment-avtar no-margin-top"><img src="/images/posts/author-300x300.jpg" alt=""></a>
			<!-- end author image -->
			<!-- author text -->
			<div class="comment-text overflow-hidden position-relative">
				<h5 class="widget-title">About The Author</h5>
				<p class="blog-date no-padding-top">Stephen Cate - Programmer/Writer</p>
				<p class="about-author-text no-margin">Dad of a cute little girl, programer by profession, wanna-be writer by night, Filipino immigrant in Melbourne, Australia.</p>
			</div>
			<!-- end author text -->
		</div>
	</div>
	<!-- end about author -->
	
	<!-- post comment -->
	<post-comments-list post-id="currentPost.PostId">
	</post-comments-list>
</div>
<!-- end content  -->
