<!-- content  -->
<div class="col-md-8 col-sm-8">
	<!-- post title  -->
	<div ng-bind-html="currentPost.Title"></div>
	<!-- end post title  -->
	<!-- post date and categories  -->
	<div ng-bind-html="currentPost.SubTitle"></div>
	<!-- end date and categories   -->
	<div ng-bind-html="currentPost.PreContent"></div>
	
	<!-- post details text -->
	<div class="blog-details-text">
		<div ng-bind-html="currentPost.Content"></div>
		<div class="blog-date no-padding-top margin-eight no-margin-bottom">
			<!-- post tags -->
			<h5 class="widget-title margin-one no-margin-top">Tags</h5>

			<a ng-repeat="tag in currentPost.Tags" href="blog-masonry-3columns.html">{{tag.Name + ", "}}</a>
		</div>
		<!-- end post tags -->
	</div>
	<!-- end post details text -->
	<!-- about author -->
	<div class="text-center margin-ten no-margin-bottom about-author text-left bg-gray">
		<div class="blog-comment text-left clearfix no-margin">
			<!-- author image -->
			<a class="comment-avtar no-margin-top"><img src="http://placehold.it/300x300" alt=""></a>
			<!-- end author image -->
			<!-- author text -->
			<div class="comment-text overflow-hidden position-relative">
				<h5 class="widget-title">About The Author</h5>
				<p class="blog-date no-padding-top">Stephen Cate - Programmer/Writer</p>
				<p class="about-author-text no-margin">Dad of a cute little girl, programer by profession, wanna-be writer by night, Filipino immigrant in Melbourne, Australia.</p>
			</div>
			<!-- end author text -->
		</div>
	</div>
	<!-- end about author -->
	<!-- social icon -->
	<div class="text-center border-bottom margin-ten padding-four no-margin-top">
		<a href="#" class="btn social-icon social-icon-large button"><i class="fa fa-facebook"></i></a>
		<a href="#" class="btn social-icon social-icon-large button"><i class="fa fa-twitter"></i></a>
		<a href="#" class="btn social-icon social-icon-large button"><i class="fa fa-google-plus"></i></a>
		<a href="#" class="btn social-icon social-icon-large button"><i class="fa fa-tumblr"></i></a>
		<a href="#" class="btn social-icon social-icon-large button"><i class="fa fa-instagram"></i></a>
	</div>
	<!-- end social icon -->
	<!-- post comment -->
	<post-comments-list post-id="currentPost.PostId">
	</post-comments-list>
</div>
<!-- end content  -->
